# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Generated
*.g.dart
*.freezed.dart

# Firebase
functions/lib/
functions/node_modules/
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Coverage
coverage/
